.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 25% 250px 300px 25%;
  justify-items: center;
}

.title {
  grid-row: 2;
  font-size: 64px;
}

.form {
  width: 50%;
  grid-row: 3;
  display: grid;
  grid-gap: 15px;
  grid-template-areas: 'a a a b'
                       'c c c c';
}

.textInput {
  grid-area: a;
}

.logType {
  grid-area: b;
}

.sendButton {
  grid-area: c;
  width: 100%;
}